body{
    font-family: Arial;
    margin:0;
    background:#f4f4f4;
}

header{
    background:#333;
    color:white;
    text-align:center;
    padding:40px;
}

nav{
    background:#555;
    text-align:center;
    padding:10px;
}

nav a{
    color:white;
    margin:10px;
    text-decoration:none;
    font-weight:bold;
}

section{
    padding:40px;
}

.project{
background:white;
padding:25px;
margin:20px;
border-radius:12px;
box-shadow:0 5px 15px rgba(0,0,0,0.1);
transition:0.3s;
}

.project:hover{
transform:translateY(-10px);
}

.profile{
width:150px;
border-radius:50%;
display:block;
margin:20px auto;
}

.btn{
background:#333;
color:white;
padding:10px 20px;
text-decoration:none;
border-radius:5px;
}

ul{
list-style:none;
padding:0;
text-align:center;
}

ul li{
display:inline-block;
background:#333;
color:white;
padding:8px 15px;
margin:5px;
border-radius:20px;
}

.dark{
background:#121212;
color:white;
}